{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set nodes = footer.navigation|length ? craft.navigation.nodes(footer.navigation).level(1).cache().all() : null %}
{% set form = footer.form.one() %}
{% set footerLogo = footer.logo.one() %}

<footer class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 w-full sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <div>
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
                {% if nodes|length %}
                <nav>
                    <ul role="list" class="grid grid-cols-2 gap-8 sm:grid-cols-3">
                        {% for node in nodes %}
                            {% set childrens = node.children.all() %}
                            {% set passiveLink = node.url ? 'a' : 'div' %}

                            <li>
                                <{{ passiveLink }} {% if node.url %}href="{{ node.getUrl() }}"{% endif %} class="font-display text-sm tracking-wider {{ node.url ? 'font-normal' : 'font-semibold' }} {{ node.url ? 'hover:text-cyprus-500' : 'text-cyprus-500' }} {{ node.classes }}"{% for attribute in node.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %}>
                                    {{ node.title }}
                                </{{ passiveLink }}>

                                {% if node.hasDescendants %}
                                <ul role="list" class="mt-4 text-sm text-neutral-700">
                                    {% for child in childrens %}
                                        {% set childPassiveLink = child.url ? 'a' : 'div' %}
                                        <li class="mt-4">
                                            <{{ childPassiveLink }} {% if child.url %} href="{{ child.getUrl() }}"{% endif %} aria-label="{{ child.title }}" class="items-center transition hover:text-cyprus-500 {{ child.icon|length ? 'inline-flex' : 'block' }} {{ child.active ? 'text-cyprus-500' }} {{ node.classes }}" {% if child.newWindow %} target="_blank" rel="noopener" {% endif %}{% for attribute in child.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %}>
                                                {{ child.title }}

                                                {% if child.icon|length %}
                                                <span>
                                                    {{ svg(child.icon.path)|attr({
                                                        class: 'w-3 h-2.5',
                                                        fill:'currentColor'
                                                    }) }}
                                                </span>
                                                {% endif %}
                                            </{{ childPassiveLink }}>
                                        </li>
                                        {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                {% endif %}

                {% if footer.heading|length or footer.text|length or form|length %}
                <div class="flex {{ nodes|length ? 'lg:justify-end' }}">
                    <div class="max-w-sm">
                        {% if footer.heading|length %}
                            <h2 class="font-display text-sm font-semibold tracking-wider text-cyprus-500">
                                {{ footer.heading|nl2br }}
                            </h2>
                        {% endif %}

                        {% if footer.text|length %}
                            {{ render.replaceElements(footer.text, {
                                background: 'white',
                                paragraphFontSize: 'mt-4 text-sm'
                            }) }}
                        {% endif %}

                        {% if form|length %}
                        <div class="relative mt-6">
                            {{ craft.formie.renderForm(form, {
                                themeConfig: {
                                    fieldInput: {
                                        resetClass: true,
                                        attributes: {
                                            class: '!block !w-full !rounded-2xl !border !border-neutral-300 !bg-transparent !py-4 !pl-6 !pr-20 !text-base/6 !text-cyprus-500 !ring-4 !ring-transparent !transition placeholder:text-neutral-500 focus:border-neutral-950 focus:outline-none focus:ring-neutral-950/5',
                                        }
                                    },
                                    buttonWrapper: {
                                        resetClass: true,
                                        attributes: {
                                            class: 'absolute inset-y-1 right-1 flex justify-end'
                                        }
                                    },
                                    submitButton: {
                                        resetClass: true,
                                        attributes: {
                                            class: 'flex w-[50px] before:w-4 before:mx-auto h-[50px] items-center justify-center rounded-xl bg-neutral-950 text-white transition hover:bg-neutral-800 before:top-[46%] before:-translate-y-1/2 before:content-[url(../../static/media/submit-arrow.svg)] before:absolute before:z-20'
                                        }
                                    },
                                }
                            }) }}

                            {% js %}
                                document.addEventListener('onFormieInit', (event) => {
                                    let Formie = event.detail.formie;
                                    Formie.refreshForCache('{{ form.formId }}');
                                });
                            {% endjs %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="mb-20 mt-24 flex flex-wrap items-end justify-between gap-x-6 gap-y-4 border-t border-neutral-950/10 pt-12">
                {% if footerLogo|length %}
                    <a href="{{ siteUrl }}" aria-label="{{ siteName }}">
                        {{ render.setImage({
                            image: footerLogo,
                            alt: footerLogo.title,
                            class: 'group/logo h-8'
                        }) }}
                    </a>
                {% endif %}

                <p class="text-sm text-neutral-700">
                    &copy; {{ now|date('Y') }} User Fusion Ltd. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>