{% import "_/includes/macros" as render %}

{% set paginationBtnClass = paginationBtnClass ?? 'load-more-btn' %}
{% set spacingClass = spacingClass ?? null %}

<div class="text-center col-span-full {{ paginationBtnClass }} {{ spacingClass }}">
    <a href="{{ pageInfo.nextUrl }}" class="inline-flex items-center text-xl rounded-full px-4 py-1.5 font-semibold transition duration-300 border {{ render.foregroundColors({
        background: backgroundColorLabel,
        opacity: overlayOpacity,
        changeDefaultColor: true,
        type: 'paginationButton'
    }) }}" @click.prevent="filters.blockId = '{{ blockId }}', loadTableData(refresh = true , '{{ nextPageUrl }}');">
        Load More
    </a>
</div>