{% set isAjax = craft.app.request.isAjax and not craft.app.request.isLivePreview %}
{% extends "_/layouts/main" %}
{% import "_/includes/macros" as render %}

{% set blogBuilder = entry.pageBuilder.all() %}
{% set relatedClient = entry.relatedClient.one() %}
{% set recommendedCaseStudies = craft.entries.section('caseStudies').id('not ' ~ entry.getId()).all() %}

{% block content %}
<div>
    <svg aria-hidden="true" class="absolute inset-x-0 -z-10 h-[1000px] w-full fill-neutral-50 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_40%,transparent_50%)]">
        <rect width="100%" height="100%" fill="url(#:R6lkq:)" stroke-width="0"></rect>
        <svg x="50%" y="-96" stroke-width="0" class="overflow-visible">
            <path transform="translate(64 160)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            <path transform="translate(128 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            <path transform="translate(288 480)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            <path transform="translate(512 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            <path transform="translate(544 640)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
            <path transform="translate(320 800)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
        </svg>
        <defs>
            <pattern id=":R6lkq:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse" patternTransform="translate(0 -96)" fill="none">
                <path d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128"></path>
            </pattern>
        </defs>
    </svg>

    <div class="container pt-44 sm:pt-52 lg:pt-60">
        <h1 class="text-center">
            <span class="block font-display text-base font-semibold text-cyprus-500">
                Case Study
            </span>

            <span class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-cyprus-500 [text-wrap:balance] sm:text-6xl mx-auto">
                {{ entry.title }}
            </span>
        </h1>

        {% if entry.text|length %}
        <div class="mt-6 space-y-6 max-w-3xl mx-auto">
            {{ render.replaceElements(entry.text, {
                background: 'white',
                paragraphFontSize: 'text-xl'
            }) }}
        </div>
        {% endif %}
    </div>

    {% if relatedClient|length %}
    {% set image = relatedClient.bannerImage.one() %}
    <div class="border-t border-neutral-200 bg-white/50 mt-24 sm:mt-32 lg:mt-40 {{ not image|length ? 'border-b' }}">
        <div class="container">
            <div class="mx-auto max-w-5xl">
                <div class="-mx-6 grid grid-cols-1 text-sm text-cyprus-500 sm:mx-0 sm:grid-cols-3">
                    <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                        <div class="font-semibold">
                            Client
                        </div>
                        <div>
                            {{ relatedClient.title }}
                        </div>
                    </div>

                    {% if relatedClient.joiningDate|length %}
                    <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                        <div class="font-semibold">
                            Year
                        </div>
                        <div>
                            {{ relatedClient.joiningDate|date('Y') }}
                        </div>
                    </div>
                    {% endif %}

                    {% if relatedClient.projectType|length %}
                    <div class="border-t border-neutral-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0">
                        <div class="font-semibold">
                            Service
                        </div>
                        <div>
                            {{ relatedClient.projectType }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if image|length %}
    <div class="border-y border-neutral-200 bg-neutral-100">
        <div class="-my-px mx-auto max-w-[76rem] bg-neutral-200">
            <div class="group relative">
                <div class="image-container left-0 top-0 w-full grayscale hover:grayscale-[0%] transition duration-300">
                    {{ render.setImage({
                        image: image,
                        alt: image.title,
                        width: image.width,
                        height: image.height,
                        class: 'w-full'
                    }) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if blogBuilder|length %}
    <div class="mt-24 sm:mt-32 lg:mt-40">
        {#
        =============================================
            Include Blog Builder
        =============================================
        #}
        {% include "_partials/blocks" with {
            pageBuilder: blogBuilder,
            parent: entry.section.handle,
            conbackgroundColor: 'white',
            blogBuilder: true,
            firstBlockSpacing: {
                'defaultMarginTop' : 'none',
            },
            lastBlockSpacing: {
                'defaultMarginBottom' : 'none',
            },
        } %}
    </div>
    {% endif %}

    {% if recommendedCaseStudies|length %}
    <div class="relative pt-24 sm:pt-32 lg:pt-40 mt-24 sm:mt-32 lg:mt-40">
        <div class="absolute inset-x-0 top-0 -z-10 h-[884px] overflow-hidden rounded-t-4xl bg-gradient-to-b from-neutral-50">
            <svg aria-hidden="true" class="absolute inset-0 h-full w-full fill-neutral-100 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_40%,transparent_50%)]">
                <rect width="100%" height="100%" fill="url(#:Rdbbbalkq:)" stroke-width="0"></rect>
                <svg x="50%" y="-270" stroke-width="0" class="overflow-visible">
                    <path transform="translate(64 160)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                    <path transform="translate(128 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                    <path transform="translate(288 480)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                    <path transform="translate(512 320)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                    <path transform="translate(544 640)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                    <path transform="translate(320 800)" d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z"></path>
                </svg>
                <defs>
                    <pattern id=":Rdbbbalkq:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse" patternTransform="translate(0 -270)" fill="none">
                        <path d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128"></path>
                    </pattern>
                </defs>
            </svg>
        </div>

        <div class="container">
            <div class="max-w-2xl">
                <h2>
                    <span class="block font-display tracking-tight [text-wrap:balance] text-2xl font-semibold text-cyprus-500">More case studies</span>
                </h2>
            </div>
        </div>

        <div class="container mt-16">
            <div class="grid grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
                {% for caseStudy in recommendedCaseStudies %}
                    <div>
                        <a href="{{ caseStudy.getUrl() }}" class="relative flex flex-col items-start pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-neutral-950/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <div class="text-sm text-neutral-600">
                                {{ caseStudy.postDate|date('F Y') }}
                            </div>

                            <h3 class="mt-6 text-base font-semibold text-cyprus-500">
                                {{ caseStudy.title }}
                            </h3>

                            {% if caseStudy.text|length %}
                            <div class="mt-2.5 space-y-2.5">
                                {{ render.replaceElements(caseStudy.text, {
                                    background: 'white',
                                }) }}
                            </div>
                            {% endif %}

                            <div class="mt-6 flex gap-x-3 text-base font-semibold transition text-cyprus-500">
                                Read more
                                <svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}