{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set perRowLimit = block.perRowLimit.getValue()|default('4') %}
{% set showBorder = block.showBorder ?? null %}
{% set limit = block.limit|default('12') %}

{% set relatedClient = block.relatedClient.limit(limit) %}
{% if not relatedClient|length %}
    {% set relatedClient = craft.entries.section("client").limit(limit) %}
{% endif %}

{% set relatedClient = relatedClient.with(['image2']).cache().all() %}

{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}
{% set paginationBulletClass = backgroundColorLabel in ['cyprus', 'black'] ? '!bg-white' : '!bg-cyprus-500' %}
{% set settings = {
    "slidesPerView": 1,
    "spaceBetween": 24,
    "pagination": {
        "el": ".#{swiperPagination}",
        "clickable": "true",
        "bulletClass": "!h-2 !w-2 !mx-1 opacity-50 swiper-pagination-bullet #{paginationBulletClass}",
        "bulletActiveClass": "!opacity-100"
    },
    "breakpoints": {
        "768": {
            "slidesPerView": "2"
        },
        "1024": {
            "slidesPerView": "#{perRowLimit}"
        }
    }
} %}

<div class="relative {{ parent.eyebrow|length or parent.heading|length or parent.subHeading|length or parent.text|length ? 'mt-10' }}">
    <div class="swiper swiper-slider !pb-16" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
        <div class="swiper-wrapper">
            {% for item in relatedClient %}
                {% set image = item.image2.one() %}
                <div class="swiper-slide" {{ listingAnimation|raw }}>
                    {% if showBorder %}
                        <div class="pt-12 relative before:absolute after:absolute before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px {{ render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'border'}) }}"></div>
                    {% endif %}

                    {% if image|length %}
                    <div>
                        {{ render.setImage({
                            image: image,
                            alt: image.title,
                            width: 184,
                            height: 36,
                            class: 'text-transparent'
                        }) }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination-list {{ swiperPagination }}"></div>
    </div>
</div>

{# Register Swiper JS #}
{{ craft.vite.register("src/js/swiper.js", false) }}