{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="grid gap-2.5 md:gap-5 {{ imageGridLayout[imageLayout] }} {{ block.eyebrow|length or block.heading|length or block.text|length ? 'mt-10' }}">
    {% for image in images %}
        {% set optionsOneClass = loop.first ? 'md:col-span-2' %}
        {% set optionsTwoClass = loop.index % 3 == 1 ? 'md:col-span-2' %}
        {% set optionsThreeClass = loop.index0 % 4 in [1, 2] ? 'col-span-4' : 'col-span-8' %}
        {% set optionsFourClass = loop.index0 % 4 in [1, 2] ? 'col-span-8' : 'col-span-4' %}

        {% set spanCondOptions = {
            'single'  : '',
            'option1' : optionsOneClass,
            'option2' : optionsTwoClass,
            'option3' : optionsThreeClass,
            'option4' : optionsFourClass
        } %}

        <a href="{{ image.getUrl() }}" class="glightbox {{ spanCondOptions[imageLayout] }} {{ imageLayout == 'single' ? ratio[imageRatio] : (imageLayout == 'option3' or imageLayout == 'option4' ? 'aspect-w-6 aspect-h-5' : 'aspect-w-8 aspect-h-5') }}" {{ galleryAnimation|raw }}>
            {{ render.setImage({
                image: image,
                alt: image.title,
                width: image.width,
                height: image.height,
                pictureClass: block.showBorder ? 'border border-neutral-100 p-2',
                class: 'w-full h-full object-cover rounded-xl'
            }) }}
        </a>
    {% endfor %}
</div>