{% import "_/includes/macros" as render %}
{% minify %}
{# {% set trackingScripts = trackingScripts.trackingScripts.cache().all() %} #}
<!DOCTYPE html>
{% set htmlAttrs = {
    lang: craft.app.language,
} %}
<html {{ attr(htmlAttrs) }}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% block seo %}{% hook 'seo' %}{% endblock %}

    {# {{ head() }} #}
    {{ craft.vite.register("src/js/app.js") }}

    {# Include Tracking Scripts Head #}
    {# {% for script in trackingScripts|filter(script => script.scriptPosition.value == "head" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
        {{ render.trackingMacro({
            script: script,
            scriptHeading: script.heading,
            scriptFiles: script.scriptFiles,
            javascriptCode: script.javascriptCode,
            htmlCode: script.htmlCode
        }) }}
    {% endfor %} #}
</head>

<body class="flex min-h-full flex-col"  x-data="{ isOverflowHidden: false }" :class="{ 'overflow-hidden lg:overflow-y-auto': isOverflowHidden }">
    {# Include Tracking Scripts Head #}
    {# {% for script in trackingScripts|filter(script => script.scriptPosition.value == "bodyStart" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
        {{ render.trackingMacro({
            script: script,
            scriptHeading: script.heading,
            scriptFiles: script.scriptFiles,
            javascriptCode: script.javascriptCode,
            htmlCode: script.htmlCode
        }) }}
    {% endfor %} #}

    {#
    ============================================
    Include Header
    ============================================
    #}
    {% include "_/includes/header" %}

    {% block content %}{% endblock %}

    {#
    ============================================
    Include Footer
    ============================================
    #}
    {% include "_/includes/footer" %}

    <link rel="preload" as="font" href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </noscript>

    {# Include Tracking Scripts Head #}
    {# {% for script in trackingScripts|filter(script => script.scriptPosition.value == "bodyEnd" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
        {{ render.trackingMacro({
            script: script,
            scriptHeading: script.heading,
            scriptFiles: script.scriptFiles,
            javascriptCode: script.javascriptCode,
            htmlCode: script.htmlCode
        }) }}
    {% endfor %} #}

</body>
</html>
{% endminify %}