{% import "_/includes/macros" as render %}

{% minify %}
<!DOCTYPE html>
{% set htmlAttrs = {
    lang: craft.app.language,
    class: "h-full bg-cyprus-500 text-base antialiased"
} %}

{% set trackingScripts = trackingScripts.trackingScripts.cache().all() %}
<html {{ attr(htmlAttrs) }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Fav Icon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        {% block seo %}{% hook 'seo' %}{% endblock %}

        {{ craft.vite.register("src/js/app.js", false) }}
        {{ craft.vite.register("src/js/cookie-consent.js", false) }}

        {# {{ head() }} #}

        {# Include Tracking Scripts Head #}
        {% for script in trackingScripts|filter(script => script.scriptPosition.value == "head" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
            {{ render.trackingMacro({
                script: script,
                scriptHeading: script.heading,
                scriptFiles: script.scriptFiles,
                javascriptCode: script.javascriptCode,
                htmlCode: script.htmlCode
            }) }}
        {% endfor %}
    </head>

    <body class="flex min-h-full flex-col"
        x-data="{ isOverflowHidden: false }"
        :class="{ 'overflow-hidden lg:overflow-y-auto': isOverflowHidden }"
    >
        {# Include Tracking Scripts Head #}
        {% for script in trackingScripts|filter(script => script.scriptPosition.value == "bodyStart" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
            {{ render.trackingMacro({
                script: script,
                scriptHeading: script.heading,
                scriptFiles: script.scriptFiles,
                javascriptCode: script.javascriptCode,
                htmlCode: script.htmlCode
            }) }}
        {% endfor %}

        {#
        ============================================
            Include Header
        ============================================
        #}
        {% include "_/includes/header" %}

        <div class="relative flex flex-auto overflow-hidden bg-white rounded-t-[40px]">
            <div class="relative isolate w-full">

                {% block content %}{% endblock %}

                {#
                ============================================
                    Include CTA
                ============================================
                #}
                {% if entry.section.handle == 'pages' %}
                        {% set overrideCta = entry|default(null)|length ? entry.overrideCta|default(null) %}
                        {% set entryOverrideCta = entry|default(null)|length ? entry.callToAction.one()|default(null) %}
                        {% set relatedCta = callToAction.callToAction.one() %}
                        {% set relatedCta = overrideCta and entryOverrideCta|length ? entryOverrideCta : relatedCta %}
                        {% if relatedCta|length %}
                            {% set ctaBuilder = relatedCta.pageBuilder.all() %}
                            {% if ctaBuilder|length %}
                                {% include "_partials/blocks" with {
                                    pageBuilder: ctaBuilder,
                                    childContainer: false,
                                    spacingGlobalBlock: true
                                } %}
                            {% endif %}
                        {% endif %}
                {% endif %}

                {{ craft.blitz.includeDynamic("_/includes/cookie-consent") }}

                {#
                ============================================
                    Include Footer
                ============================================
                #}
                {% include "_/includes/footer" %}

                {# Include Tracking Scripts Head #}
                {% for script in trackingScripts|filter(script => script.scriptPosition.value == "bodyEnd" and (not script.addOnlyInProduction or (script.addOnlyInProduction and craft.app.config.env == "production"))) %}
                    {{ render.trackingMacro({
                        script: script,
                        scriptHeading: script.heading,
                        scriptFiles: script.scriptFiles,
                        javascriptCode: script.javascriptCode,
                        htmlCode: script.htmlCode
                    }) }}
                {% endfor %}
            </div>
        </div>

        {#
        ============================================
            CP Links
        ============================================
        #}
        {% set entryId = entry.getId() ?? null %}
        {% set categoryId = category.getId() ?? null %}
        {{ craft.blitz.includeDynamic('_/includes/cp-link', {
            entryId : entryId,
            categoryId : categoryId
        }) }}

        {{ craft.vite.register("src/js/app.js", false) }}

        {% if currentUser and currentUser.can('accessCp') %}
            <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=0czoxhmdpuz0j04dy72sfw" async="true"></script>
        {% endif %}
    </body>
</html>
{% endminify %}