{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="mt-16 pt-16 relative before:absolute after:absolute {{ backgroundColorLabel == 'green' ? 'before:bg-neutral-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'black' ? 'after:bg-neutral-200' : 'after:bg-neutral-950/10' }} before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
    <div class="relative" {{ contentAnimation|raw }}>
        {% if item.heading %}
            <h2 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                {{ item.heading|nl2br }}
            </h2>
        {% endif %}

        <ul role="list" class="flex gap-x-10">
            {% set socialLinks = block.socialLinks.all() %}
            {% for socialLink in socialLinks %}
            <li>
                <a href="{{ socialLink.socialLink.url() }}" class="transition hover:text-neutral-700 {{ socialLink.socialLink.classes }}" aria-label="{{ socialLink.socialLink.text }}"
                {% if socialLink.socialLink.linkTitle %} title="{{ socialLink.socialLink.linkTitle }}"{% endif %} {% if socialLink.socialLink.target %} target="{{ socialLink.socialLink.target }}" rel="noopener"{% endif %} {% for attribute in socialLink.socialLink.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %}
                >
                    {% set color =  backgroundColorLabel == 'white' ? 'text-cyprus-500' : 'text-neutral-50' %}
                    {{ svg(socialLink.icon.path)|attr({
                        class: 'w-6 h-6 mt-6 ' ~ color,
                        fill: 'currentColor'
                    }) }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>