{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="mx-auto max-w-7xl mt-10">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <ul role="list" class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3"{{ contentAnimation|raw }}>
            {% for item in block.textCard.all() %}
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                    {% if item.heading|length or item.simpleText|length %}
                        <div>
                            <div class="pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                <strong class="font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                    {{ item.heading }}
                                </strong>
                                <span class="{{ render.foregroundColors({background: backgroundColorLabel, type: 'subHeading'}) }}">
                                    {{ render.replaceElements(item.simpleText, {
                                        background: backgroundColorLabel,
                                        paragraphFontSize: 'text-base'
                                    }) }}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

