{#
===============================================================================
    Listing Case Study (listingCaseStudy) [Layout 1] [Stacked]

    Variables
        - Block (block)

    Fields:
        Content:
            - Related Case Study (relatedCaseStudy)

        Settings:
            - Case Study Layout (caseStudyLayout)
            - Listing Style (listingStyle2)
            - Limit (limit)
            - Pagination? (pagination)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set paramBlockId = craft.app.request.getParam("blockId") %}
{% set blockId = paramBlockId|default(parent.getId()) %}

{% set pagination = block.pagination %}
{% set limit = block.limit|default('12') %}

{% set relatedCaseStudy = block.relatedCaseStudy.limit(limit) %}
{% if not relatedCaseStudy|length %}
    {% set relatedCaseStudy = craft.entries.section("caseStudies").limit(limit) %}
{% endif %}

{% set relatedCaseStudy = relatedCaseStudy.with(['relatedClient']).cache() %}

{% if pagination %}
    {% paginate relatedCaseStudy as pageInfo, entries %}
{% else %}
    {% set entries = relatedCaseStudy.all() %}
{% endif %}

{% set contentId = 'caseStudies' ~ parent.getId() %}
{% set paginationBtnClass = 'load-more-btn-' ~ parent.getId() %}

{% if not isAjax %}
<div class="{{ parent.eyebrow|length or parent.heading|length or parent.subHeading|length or parent.text|length ? 'mt-16' }}"
    {% if pagination %}
    {{ render.xModalContentListingFilter({
        url: url(craft.app.request.fullPath),
        contentId: contentId,
        loader: true,
        samePageLoadData: true,
        noResultsText: "Sorry. No data found for your search term.",
        paginationBtnClass: paginationBtnClass,
        filters: {
            blockId: blockId
        },
    }) }}
    {% endif %}
>
    <div {% if pagination %}:id="contentId"{% endif %} class="space-y-32">
{% endif %}
        {% for caseStudy in entries %}
            {% set relatedClient = caseStudy.relatedClient.one() %}

            <div {{ listingAnimation|raw }}>
                <div class="grid grid-cols-3 gap-x-8 gap-y-8 pt-16 relative before:absolute after:absolute before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px {{ render.foregroundColors({
                    background: backgroundColorLabel,
                    opacity: overlayOpacity,
                    changeDefaultColor: true,
                    type: 'border'
                }) }}">
                    {% if relatedClient|length %}
                        {% set image = relatedClient.image.one() %}

                        <div class="col-span-full sm:flex sm:items-center sm:justify-between sm:gap-x-8 lg:col-span-1 lg:block">
                            <div class="sm:flex sm:items-center sm:gap-x-6 lg:block">
                                {% if image|length %}
                                    {{ render.setImage({
                                        image: image,
                                        alt: image.title,
                                        height: 36,
                                        class: 'h-8 flex-none text-transparent object-contain'
                                    }) }}
                                {% endif %}


                                <h3 class="mt-6 text-sm font-semibold sm:mt-0 lg:mt-8 {{ render.foregroundColors({
                                    background: backgroundColorLabel,
                                    opacity: overlayOpacity,
                                    changeDefaultColor: true,
                                    type: 'heading'
                                }) }}">
                                    {{ relatedClient.title }}
                                </h3>
                            </div>

                            {% if relatedClient.projectType|length or relatedClient.joiningDate|length %}
                            <div class="mt-1 flex gap-x-4 sm:mt-0 lg:block {{ render.foregroundColors({
                                background: backgroundColorLabel,
                                opacity: overlayOpacity,
                                changeDefaultColor: true,
                                type: 'heading'
                            }) }}">
                                {% if relatedClient.projectType|length %}
                                <p class="text-sm tracking-tight after:ml-4 after:font-semibold after:text-neutral-300 after:content-['/'] lg:mt-2 lg:after:hidden">
                                    {{ relatedClient.projectType }}
                                </p>
                                {% endif %}

                                {% if relatedClient.joiningDate|length %}
                                <p class="text-sm lg:mt-2">
                                    {{ relatedClient.joiningDate|date("F Y") }}
                                </p>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="col-span-full {{ relatedClient|length ? 'lg:col-span-2 lg:max-w-2xl' }}">
                        <p class="font-display text-4xl font-medium {{ render.foregroundColors({
                            background: backgroundColorLabel,
                            opacity: overlayOpacity,
                            changeDefaultColor: true,
                            type: 'heading'
                        }) }}">
                            <a href="{{ caseStudy.getUrl }}">
                                {{ caseStudy.title }}
                            </a>
                        </p>

                        {% if caseStudy.text|length %}
                        <div class="mt-6 space-y-6">
                            {{ render.replaceElements(caseStudy.text, {
                                background: backgroundColorLabel,
                                opacity: overlayOpacity,
                                changeDefaultColor: true,
                            }) }}
                        </div>
                        {% endif %}

                        <div class="mt-8 flex">
                            <a href="{{ caseStudy.getUrl }}" class="inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition {{ render.foregroundColors({
                                background: backgroundColorLabel,
                                opacity: overlayOpacity,
                                changeDefaultColor: true,
                                type: 'detailPageButton'
                            }) }}">
                                <span class="relative top-px">
                                    Read case study
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if pagination and pageInfo.nextUrl and pageInfo.totalPages > 1 %}
        {% set nextPageUrl = pageInfo.currentPage == 1 and (not paramBlockId|length) ? pageInfo.nextUrl ~ '?blockId=' ~ blockId : pageInfo.nextUrl %}
        {#
        ============================================
            Include Pagination
        ============================================
        #}
        {% include "_/includes/pagination" with {
            nextPageUrl: nextPageUrl,
            paginationBtnClass: paginationBtnClass,
            blockId: blockId
        } %}
        {% endif %}
{% if not isAjax %}
    </div>

    {% if pagination %}
    <div class="fixed top-0 bottom-0 left-0 right-0 backdrop-opacity-10 backdrop-invert bg-black/40 z-50"
        x-show="isLoading"
        style="display: none;"
    >
        {% include "_/includes/filterAnimation" with {
            blockId: blockId
        } %}
    </div>
    {% endif %}
</div>
{% endif %}