{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="grid gap-5 {{ rowLimit[perRowLimit] }} {{ block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length ? 'mt-12' }}">
    {% for card in dualCards %}
        {% set image = card.image.one() %}
        {% set passiveLink = card.button|length ? 'a' : 'div' %}

        <div {{ cardAnimation|raw }}>
            <{{ passiveLink }} {% if card.button|length %} href="{{ card.button.getUrl }}"{% endif %} class="group h-full flex flex-col overflow-hidden rounded-lg shadow-lg {{ card.button.classes }}"
                {% if card.button.newWindow %} target="_blank" rel="noopener" {% endif %}
                {% for attribute in card.button.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %}
            >
                {% if image|length %}
                <div class="shrink-0">
                    {{ render.setImage({
                        image: image,
                        alt: image.title,
                        width: image.width,
                        height: image.height,
                        class: 'h-48 w-full object-cover'
                    }) }}
                </div>
                {% endif %}

                <div class="flex flex-1 flex-col justify-between p-6 duration-300 {{ render.foregroundColors({ background: backgroundColorLabel, opacity: overlayOpacity,changeDefaultColor: true, type: 'cardHover' }) }}">
                    <div class="flex-1">
                        {% if card.eyebrow|length %}
                        <div class="block font-display text-base font-semibold text-left {{ render.foregroundColors({ background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'heading' }) }}">
                            {{ card.eyebrow }}
                        </div>
                        {% endif %}

                        <div class="mt-1 block">
                            {% if card.heading|length %}
                                <h3 class="font-display text-2xl font-semibold mt-2 {{ render.foregroundColors({ background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'heading' }) }}">
                                    {{ card.heading }}
                                </h3>
                            {% endif %}

                            {% if card.text|length %}
                            {{ render.replaceElements(card.text, {
                                background: backgroundColorLabel,
                                opacity: overlayOpacity,
                                changeDefaultColor: true,
                            }) }}
                            {% endif %}
                        </div>
                    </div>

                    {% if card.button|length %}
                    <div class="mt-2 flex items-center">
                        <div class="shrink-0">
                            <div class="flex flex-wrap items-center gap-5 justify-start">
                                <div class="text-cyprus-500 flex font-semibold border-b-2 border-transparent items-center inline-block leading-6 transition duration-300 text-base {{ render.foregroundColors({ background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'detailPagelink' }) }} {{ render.foregroundColors({ background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'linkHover' }) }}">
                                    <span class="flex-1 relative top-px ">
                                        {{ card.button.getText() }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </{{ passiveLink }}>
        </div>
    {% endfor %}
</div>