{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set paramBlockId = craft.app.request.getParam("blockId") %}
{% set blockId = paramBlockId|default(parent.getId()) %}

{% set perRowLimit = block.perRowLimit.getValue()|default('2') %}
{% set pagination = block.pagination %}
{% set limit = block.limit|default('12') %}

{% set relatedCaseStudy = block.relatedCaseStudy.limit(limit).cache() %}
{% if not relatedCaseStudy|length %}
    {% set relatedCaseStudy = craft.entries.section("caseStudies").limit(limit).cache() %}
{% endif %}

{% if pagination %}
    {% paginate relatedCaseStudy as pageInfo, entries %}
{% else %}
    {% set entries = relatedCaseStudy.all() %}
{% endif %}

{% set contentId = 'caseStudies' ~ parent.getId() %}

{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}
{% set paginationBulletClass = backgroundColorLabel in ['cyprus', 'black'] ? '!bg-white' : '!bg-cyprus-500' %}

{% set settings = {
    "slidesPerView": 1,
    "spaceBetween": 24,
    "pagination": {
        "el": ".#{swiperPagination}",
        "clickable": "true",
        "bulletClass": "!h-2 !w-2 !mx-1 opacity-50 swiper-pagination-bullet #{paginationBulletClass}",
        "bulletActiveClass": "!opacity-100"
    },
    "breakpoints": {
        "768": {
            "slidesPerView": "2"
        },
        "1024": {
            "slidesPerView": "#{perRowLimit}"
        }
    }
} %}

<div class="relative {{ parent.eyebrow|length or parent.heading|length or parent.text|length ? 'mt-16' }}">
    <div class="swiper swiper-slider !pb-10" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
        <div class="swiper-wrapper">
            {% for caseStudy in entries %}
                <div class="swiper-slide" {{ listingAnimation|raw }}>
                    <a href="{{ caseStudy.getUrl }}" class="relative flex flex-col items-start pl-8 relative before:absolute after:absolute before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px {{ render.foregroundColors({background: backgroundColorLabel, type: 'borders'}) }}">
                        <h3 class="mt-6 text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                            {{ caseStudy.title }}
                        </h3>

                        <div class="order-first text-sm {% set textClass = (backgroundColorLabel == 'black' or backgroundColorLabel == 'cyprus') ? 'text-white' : 'text-neutral-600' %}">
                            {{ caseStudy.postDate|date('F Y') }}
                        </div>

                        {% if caseStudy.text %}
                            {{ render.replaceElements(caseStudy.text, {
                                background: backgroundColorLabel,
                                paragraphFontSize: 'mt-2.5'
                            }) }}
                        {% endif %}

                        <div class="mt-6 flex gap-x-3 text-base font-semibold transition {{ render.foregroundColors({background: backgroundColorLabel, type: 'button'}) }}">
                            Read more
                            <svg viewBox="0 0 24 6" aria-hidden="true" class="w-6 flex-none fill-current">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 3 18 .5v2H0v1h18v2L24 3Z"></path>
                            </svg>
                            <span class="absolute inset-0"></span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination-list !-bottom-1 {{ swiperPagination }}"></div>
</div>

{{ craft.vite.register("src/js/swiper.js", false) }}