{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set limit = block.limit|default('12') %}

{% set relatedTestimonials = block.relatedTestimonials.limit(limit) %}
{% if not relatedTestimonials|length %}
    {% set relatedTestimonials = craft.entries.section("testimonial").limit(limit) %}
{% endif %}

{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}
{% set paginationBulletClass = backgroundColorLabel in ['cyprus', 'black'] ? '!bg-white' : '!bg-cyprus-500' %}
{% set settings = {
    "slidesPerView": 1,
    "spaceBetween": 24,
    "pagination": {
        "el": ".#{swiperPagination}",
        "clickable": "true",
        "bulletClass": "!h-2 !w-2 !mx-1 opacity-50 swiper-pagination-bullet #{paginationBulletClass}",
        "bulletActiveClass": "!opacity-100"
    },
} %}

<div class="relative isolate {{ parent.eyebrow|length or parent.heading|length or parent.text|length ? 'mt-16' }}">
    <div class="swiper swiper-slider !pb-12" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
        <div class="swiper-wrapper">
            {% for testimonial in relatedTestimonials %}
                {% set relatedClient = testimonial.relatedClient.one() %}

                <div class="swiper-slide" {{ listingAnimation|raw }}>
                    <div class="mx-auto max-w-4xl">
                        {% if testimonial.quote|length %}
                        <blockquote class="relative font-display text-3xl font-medium tracking-tight sm:text-4xl {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                            {{ '“' ~ testimonial.quote|nl2br ~ '”' }}
                        </blockquote>
                        {% endif %}

                        {% if relatedClient|length %}
                            {% set image = relatedClient.image2.one() %}
                            {% if image|length %}
                            <div class="mt-10">
                                {{ render.setImage({
                                    image: image,
                                    alt: image.title,
                                    width: 184,
                                    height: 36,
                                    class: 'text-transparent'
                                }) }}
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination swiper-pagination-list {{ swiperPagination }}"></div>
    </div>
</div>

{# Register Swiper JS #}
{{ craft.vite.register("src/js/swiper.js", false) }}