{#
===============================================================================
    Text Card (textCard) [Cards]

    Variables
        - Block (block)

    Fields:
        Content:
            - Simple Text (simpleText)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<ul role="list" class="gap-10 grid {{ rowLimit[perRowLimit] }} {{ block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length ? 'mt-16' }}">
    {% for card in textCards %}
        {% if card.simpleText|length %}
        <li {{ cardAnimation|raw }}>
            <div class="opacity-100 transform-none">
                <div class="pl-8 space-y-3 relative before:absolute after:absolute before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px {{ render.foregroundColors({
                    background: backgroundColorLabel,
                    opacity: overlayOpacity,
                    changeDefaultColor: true,
                    type: 'border'
                }) }}">
                    {{ render.replaceElements(card.simpleText, {
                        background: backgroundColorLabel,
                        opacity: overlayOpacity,
                        changeDefaultColor: true,
                    }) }}
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>