{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
    <ul role="list" class="gap-10 grid {{ rowLimit[perRowLimit] }}">
        {% for card in textCards %}
        <li {{ cardAnimation|raw }}>
            {% if card.simpleText %}
                <div class="opacity-100 transform-none">
                    <div class="pl-8 relative before:absolute after:absolute {{ backgroundColorLabel == 'green' ? 'before:bg-cyprus-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'white' ? 'after:bg-neutral-300' : 'after:bg-white/10' }} before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                    {{ render.replaceElements(card.simpleText, {
                        background: backgroundColorLabel == 'white' ? 'white' : 'green',
                        paragraphFontSize: 'text-base'
                    }) }}
                    </div>
                </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>