{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}

{% import "_/includes/macros" as render %}

{% set swiperPrev = "swiper-prev-#{block.getId()}" %}
{% set swiperNext = "swiper-next-#{block.getId()}" %}
{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}

{% set paginationBulletClass = backgroundColorLabel in ['cyprus'] ? '!bg-white' : '!bg-cyprus-500' %}

{% set settings = {
    "slidesPerView": 1,
    "spaceBetween": 24,
    "breakpoints": { "768": { "slidesPerView": "2" }, "1024": { "slidesPerView": "#{perRowLimit}" }, "1376": { "slidesPerView": "#{perRowLimit}" } },
    "navigation":{"nextEl":".#{swiperNext}","prevEl":".#{swiperPrev}", "disabledClass": "opacity-60"},
    "pagination": {"el": ".#{swiperPagination}", "clickable": "true", "bulletClass": "!h-2.5 !w-2.5 !mx-1 opacity-50 swiper-pagination-bullet #{paginationBulletClass}", "bulletActiveClass": "!opacity-100"}
} %}

{% if block.textCard.all()|length %}
    <div class="relative" {{ cardAnimation|raw }}>
        <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
            <div class="swiper swiper-slider" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
                <div class="swiper-wrapper">
                    {% for item in block.textCard.all() %}
                        <div class="swiper-slide text-base before:bg-white after:bg-white/10">
                            <div>
                                {% if item.heading|length or item.simpleText|length %}
                                    <div class="pl-8 relative before:absolute after:absolute {{ backgroundColorLabel == 'green' ? 'before:bg-cyprus-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'white' ? 'after:bg-neutral-300' : 'after:bg-white/10' }} before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                                        <strong class="font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                            {{ item.heading }}
                                        </strong>
                                        {{ render.replaceElements(item.simpleText, {
                                            background: backgroundColorLabel,
                                            contentAlignment: contentAlignment,
                                            paragraphFontSize: 'text-base'
                                        }) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-list !-bottom-14 {{ swiperPagination }}"></div>
        </div>
    </div>
{% endif %}

{{ craft.vite.script("src/js/swiper.js") }}


