{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set swiperPagination = "swiper-pagination-#{block.getId()}" %}
{% set paginationBulletClass = backgroundColorLabel in ['cyprus'] ? '!bg-white' : '!bg-cyprus-500' %}
{% set settings = {
    "slidesPerView": 1,
    "spaceBetween": 24,
    "pagination": {
        "el": ".#{swiperPagination}",
        "clickable": "true",
        "bulletClass": "!h-2 !w-2 !mx-1 opacity-50 swiper-pagination-bullet #{paginationBulletClass}",
        "bulletActiveClass": "!opacity-100"
    },
    "breakpoints": {
        "768": {
            "slidesPerView": "2"
        },
        "1024": {
            "slidesPerView": "#{perRowLimit}"
        }
    }
} %}

<div class="relative {{ block.eyebrow|length or block.heading|length or block.text|length ? 'mt-10' }}">
    <div class="swiper swiper-slider !pb-14" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{{ settings|json_encode|raw }}'>
        <div class="swiper-wrapper opacity-100 transform-none">
            {% for card in textCards %}
                {% if card.simpleText|length %}
                <div class="swiper-slide before:bg-white after:bg-white/10" {{ cardAnimation|raw }}>
                    <div class="pl-8 relative before:absolute after:absolute before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px {{ backgroundColorLabel == 'green' ? 'before:bg-cyprus-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'white' ? 'after:bg-neutral-300' : 'after:bg-white/10' }}">
                        {{ render.replaceElements(card.simpleText, {
                            background: backgroundColorLabel,
                        }) }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination-list !bottom-1 {{ swiperPagination }}"></div>
</div>

{{ craft.vite.register("src/js/swiper.js", false) }}