{#
===============================================================================
    Listing Case Study (listingCaseStudy) [Layout 2] [Cards]

    Variables
        - Block (block)

    Fields:
        Content:
            - Related Case Study (relatedCaseStudy)

        Settings:
            - Case Study Layout (caseStudyLayout)
            - Listing Style (listingStyle2)
            - Limit (limit)
            - Per Row Limit (perRowLimit)
            - Pagination? (pagination)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set perRowLimit = block.perRowLimit.getValue()|default('3') %}
{% set rowLimit = {
    '2' : 'grid-cols-1 md:grid-cols-2',
    '3' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3',
    '4' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4',
    '5' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-5'
} %}

{% set paramBlockId = craft.app.request.getParam("blockId") %}
{% set blockId = paramBlockId|default(parent.getId()) %}

{% set pagination = block.pagination %}
{% set limit = block.limit|default('12') %}

{% set relatedCaseStudy = block.relatedCaseStudy.limit(limit) %}
{% if not relatedCaseStudy|length %}
    {% set relatedCaseStudy = craft.entries.section("caseStudies").limit(limit) %}
{% endif %}

{% set relatedCaseStudy = relatedCaseStudy.with(['relatedClient']).cache() %}

{% if pagination %}
    {% paginate relatedCaseStudy as pageInfo, entries %}
{% else %}
    {% set entries = relatedCaseStudy.all() %}
{% endif %}

{% set contentId = 'caseStudies' ~ parent.getId() %}
{% set paginationBtnClass = 'load-more-btn-' ~ parent.getId() %}

{% if not isAjax %}
<div class="{{ parent.eyebrow|length or parent.heading|length or parent.subHeading|length or parent.text|length ? 'mt-16' }}"
    {% if pagination %}
    {{ render.xModalContentListingFilter({
        url: url(craft.app.request.fullPath),
        contentId: contentId,
        loader: true,
        samePageLoadData: true,
        noResultsText: "Sorry. No data found for your search term.",
        paginationBtnClass: paginationBtnClass,
        filters: {
            blockId: blockId
        },
    }) }}
    {% endif %}
>
    <div {% if pagination %}:id="contentId"{% endif %} class="grid gap-8 {{ rowLimit[perRowLimit] }}">
{% endif %}

    {% for caseStudy in entries %}
        {% set relatedClient = caseStudy.relatedClient.one() %}

        <div class="flex" {{ listingAnimation|raw }}>
            <a href="{{ caseStudy.getUrl() }}" class="relative flex w-full flex-col rounded-3xl p-6 ring-1 transition sm:p-8 {{ render.foregroundColors({
                background: backgroundColorLabel,
                opacity: overlayOpacity,
                changeDefaultColor: true,
                type: 'cardHover'
            }) }}">
                {% if relatedClient|length %}
                    {% set image = relatedClient.image.one() %}

                    {% if image|length and block.showLogos %}
                    {{ render.setImage({
                        image: image,
                        alt: image.title,
                        width: 36,
                        height: 36,
                        class: 'h-16 w-24 flex-none text-transparent'
                    }) }}
                    {% endif %}

                    <p class="flex gap-x-2 text-sm {{ image|length ? 'mt-6' }} {{ render.foregroundColors({
                        background: backgroundColorLabel,
                        opacity: overlayOpacity,
                        changeDefaultColor: true,
                        type: 'heading'
                    }) }}">
                        {% if relatedClient.joiningDate|length %}
                        <time class="font-semibold">
                            {{ relatedClient.joiningDate|date("Y") }}
                        </time>
                        <span class="text-neutral-300" aria-hidden="true">/</span>
                        {% endif %}

                        <span>
                            {{ relatedClient.title }}
                        </span>
                    </p>
                {% endif %}

                <p class="font-display text-2xl font-semibold {{ relatedClient|length ? 'mt-6' }} {{ render.foregroundColors({
                    background: backgroundColorLabel,
                    opacity: overlayOpacity,
                    changeDefaultColor: true,
                    type: 'heading'
                }) }}">
                    {{ caseStudy.title }}
                </p>

                {% if caseStudy.text|length %}
                <div class="space-y-4 mt-4">
                    {{ render.replaceElements(caseStudy.text, {
                        background: backgroundColorLabel,
                        opacity: overlayOpacity,
                        changeDefaultColor: true,
                    }) }}
                </div>
                {% endif %}
            </a>
        </div>
    {% endfor %}

    {% if pagination %}
    <div class="fixed top-0 bottom-0 left-0 right-0 backdrop-opacity-10 backdrop-invert bg-black/40 z-50"
            x-show="isLoading"
            style="display: none;"
        >
            {% include "_/includes/filterAnimation" with {
                blockId: blockId
            } %}
        </div>
    {% endif %}

    {% if pagination and pageInfo.nextUrl and pageInfo.totalPages > 1 %}
    {% set nextPageUrl = pageInfo.currentPage == 1 and (not paramBlockId|length) ? pageInfo.nextUrl ~ '?blockId=' ~ blockId : pageInfo.nextUrl %}
    {#
    ============================================
        Include Pagination
    ============================================
    #}
    {% include "_/includes/pagination" with {
        nextPageUrl: nextPageUrl,
        paginationBtnClass: paginationBtnClass,
        blockId: blockId
    } %}
    {% endif %}
{% if not isAjax %}
</div>
{% endif %}