{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set socialLinks = block.socialLinks.all() %}
{% set color =  backgroundColorLabel == 'white' ? 'text-cyprus-500' : 'text-neutral-50' %}

{% if block.heading|length or socialLinks|length %}
    <div class="mt-16 pt-16 relative before:absolute after:absolute {{ backgroundColorLabel == 'green' ? 'before:bg-cyprus-500' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'black' or 'cyprus' ? 'after:bg-neutral-300' : 'after:bg-neutral-950/10' }} before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
        {% if block.heading|length %}
        <h2 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
            {{ block.heading|nl2br }}
        </h2>
        {% endif %}

        {% if socialLinks|length %}
        <ul role="list" class="flex gap-x-10 mt-6 {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
            {% for socialLink in socialLinks %}
                <li>
                    {% if socialLink.icon.path|length %}
                    <a href="{{ socialLink.socialLink.getUrl() }}" aria-label="{{ socialLink.socialLink.getText() }}" class="transition hover:text-neutral-700">
                        {{ svg(socialLink.icon.path)|attr({
                            class: 'w-6 h-6' ~ color,
                            fill: 'currentColor'
                        }) }}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endif %}