{#
===============================================================================
    Contact Social Links (contactSocialLinks)

    Variables
        - Block (block)

    Fields:
        Content:
            - Social Links (socialLinks) [Matrix]
                - Icon (icon)
                - Social Link (socialLink)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set socialLinks = block.socialLinks.all() %}
{% set color =  backgroundColorLabel in ['none', 'white'] ? 'text-cyprus-500' : 'text-white' %}

{% if socialLinks|length %}
<ul role="list" class="flex gap-x-10 {{ render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'heading'}) }}">
    {% for socialLink in socialLinks %}
        <li>
            <a href="{{ socialLink.socialLink.getUrl() }}"
                class="transition hover:text-neutral-700"
                {% if socialLink.socialLink.linkTitle %} title="{{ socialLink.socialLink.linkTitle }}"{% endif %} {% if socialLink.socialLink.target %} target="{{ socialLink.socialLink.target }}" rel="noopener"{% endif %} {% for attribute in socialLink.socialLink.customAttributes %} {{ attribute.attribute }}="{{ attribute.value }}" {% endfor %}
            >
                {{ svg(socialLink.icon.path)|attr({
                    class: 'w-6 h-6' ~ color,
                    fill: 'currentColor'
                }) }}
            </a>
            <span class="sr-only">{{ "about this"|t }}</span>
        </li>
    {% endfor %}
</ul>
{% endif %}