{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% if block.quote|length or block.authorName|length or block.designation|length %}
<div class="pl-8 relative before:absolute after:absolute before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px {{ render.foregroundColors({background: backgroundColorLabel, type: 'border'}) }}">
    <div class="text-sm">
        {% if block.quote|length %}
        <blockquote>
            <p class="{{ render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'subHeading'}) }}">
                {{ block.quote|nl2br }}
            </p>
        </blockquote>
        {% endif %}

        {% if block.authorName|length or block.designation|length %}
        <figcaption class="mt-6 font-semibold {{ render.foregroundColors({background: backgroundColorLabel, opacity: overlayOpacity, changeDefaultColor: true, type: 'heading'}) }}">
            {% if block.authorName|length %}
                {{ block.authorName|nl2br }}
                <span>, </span>
            {% endif %}

            {% if block.designation|length %}
                {{ block.designation|nl2br }}
            {% endif %}
        </figcaption>
        {% endif %}
    </div>
</div>
{% endif %}