{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<ul role="list" class="text-base mt-8">
    {% for item in block.textCard.all() %}
        <li class="group mt-10 first:mt-0">
            {% if item.heading|length or item.simpleText|length %}
                <div style="opacity: 1; transform: none;">
                    <div class="inline-block pt-10 group-first:pt-0 group-first:before:hidden group-first:after:hidden relative before:absolute after:absolute {{ backgroundColorLabel == 'green' ? 'before:bg-neutral-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'black' ? 'after:bg-neutral-400' : 'after:bg-neutral-950/10' }} before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px">
                        <strong class="font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                            {{ item.heading }}
                        </strong>
                        <span class="{{ render.foregroundColors({background: backgroundColorLabel, type: 'subHeading'}) }}">
                            {{ render.replaceElements(item.simpleText, {
                                background: backgroundColorLabel,
                                paragraphFontSize: 'text-base'
                            }) }}
                        </span>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

