{% import "_/includes/macros" as render %}

{% set contentAnimation = render.setAnimation({
    animation: animation,
    animationStyle: contentAnimationStyle,
    animationDuration: contentAnimationDuration,
    animationOffset: contentAnimationOffset,
    animationEasing: contentAnimationEasing
}) | raw %}
{% set delay = 0 %}

{% if eyebrow|length %}
    {% if addBorder %}
        <div class="flex items-center gap-x-8">
            {% if contentAlignment == 'right' or contentAlignment == 'center' %}
                <div class="border-t flex-auto {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'simpleBorder'}) }}"></div>
            {% endif %}

            <h6 class="block font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'heading'}) }} {{ render.getAlignment({alignment: contentAlignment, type: 'text'}) }}" {{ contentAnimation|raw }}>
                {{ render.replaceUnderscores({
                    text: eyebrow,
                }) }}
            </h6>

            {% if contentAlignment == 'left' or contentAlignment == 'center' %}
                <div class="border-t flex-auto {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'simpleBorder'}) }}"></div>
            {% endif %}
        </div>
    {% else %}
        <h6 class="block font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'heading'}) }} {{ render.getAlignment({alignment: contentAlignment, type: 'text'}) }}" {{ contentAnimation|raw }}>
            {{ render.replaceUnderscores({
                text: eyebrow,
            }) }}
        </h6>
    {% endif %}
{% endif %}

{% if heading|length %}
{% set delay = delay + 200 %}
{% set contentAnimation = render.setAnimation({
    animation: animation,
    animationStyle: contentAnimationStyle,
    animationDuration: contentAnimationDuration,
    animationOffset: contentAnimationOffset,
    animationEasing: contentAnimationEasing,
    animationDelay: delay
}) | raw %}
<{{ headingTag }} class="block font-display tracking-tight [text-wrap:balance] {{ headingSpacing|length ? headingSpacing : (eyebrow|length ? 'mt-6') }} {{ render.getAlignment({alignment: contentAlignment, type: 'text'}) }} {{ render.getHeadingSize({headingTag: headingTag}) }} {{ render.getFontWeight({font: fontWeight}) }} {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'heading'}) }}" {{ contentAnimation|raw }}>
    {{ heading|nl2br }}
</{{ headingTag }}>
{% endif %}

{% if subHeading|length %}
{% set delay = delay + 200 %}
{% set contentAnimation = render.setAnimation({
    animation: animation,
    animationStyle: contentAnimationStyle,
    animationDuration: contentAnimationDuration,
    animationOffset: contentAnimationOffset,
    animationEasing: contentAnimationEasing,
    animationDelay: delay
}) | raw %}
<p class="block text-xl {{ eyebrow|length or heading|length ? 'mt-6' }} {{ render.foregroundColors({background: backgroundColorLabel, opacity: opacity, changeDefaultColor: changeDefaultColor, type: 'subHeading'}) }} {{ render.getAlignment({alignment: contentAlignment, type: 'text'}) }}" {{ contentAnimation|raw }}>
    {{ subHeading }}
</p>
{% endif %}

{% if text|length %}
{% set delay = delay + 200 %}
{% set contentAnimation = render.setAnimation({
    animation: animation,
    animationStyle: contentAnimationStyle,
    animationDuration: contentAnimationDuration,
    animationOffset: contentAnimationOffset,
    animationEasing: contentAnimationEasing,
    animationDelay: delay
}) | raw %}
<div class="space-y-6 {{ textSpacing|length ? textSpacing : (eyebrow|length or heading|length or subHeading|length ? 'mt-6') }} {{ render.getAlignment({alignment: contentAlignment, type: 'text'}) }}" {{ contentAnimation|raw }}>
    {{ render.replaceElements(text, {
        background: backgroundColorLabel,
        contentAlignment: contentAlignment,
        opacity: opacity,
        changeDefaultColor: changeDefaultColor,
        paragraphFontSize: overrideParagraphFontSize|length ? overrideParagraphFontSize
    }) }}
</div>
{% endif %}

{% for button in buttons %}
{% set delay = delay + 200 %}
{% set contentAnimation = render.setAnimation({
    animation: animation,
    animationStyle: contentAnimationStyle,
    animationDuration: contentAnimationDuration,
    animationOffset: contentAnimationOffset,
    animationEasing: contentAnimationEasing,
    animationDelay: delay
}) | raw %}
{% if loop.first %}
<div class="flex flex-wrap items-center gap-5 {{ eyebrow|length or heading|length or subHeading|length or text|length ? 'mt-5' }} {{ render.getAlignment({
    alignment: contentAlignment,
    type: 'justify'
}) }}" {{ contentAnimation|raw }}>
{% endif %}
    {{ render.createButton({
        button: button.button,
        buttonType: button.buttonType.getValue()|default("button"),
        buttonColor: button.buttonColor.label|default('cyprus'),
        icon: button.icon,
        iconPosition: button.iconPosition.getValue()|default('right'),
        background: backgroundColorLabel
    }) }}
{% if loop.last %}
</div>
{% endif %}
{% endfor %}