{% if (not buttonColor|length) or ((background) == buttonColor) %}
    {% set background = background|default("white") %}
    {% switch background %}
        {% case "white" %}
            {% set buttonColor = 'cyprus' %}
        {% case "black" %}
            {% set buttonColor = 'white' %}
        {% case "green" %}
            {% set buttonColor = 'white' %}
        {% case "cyprus" %}
            {% set buttonColor = 'white' %}
        {% default %}
            {% set buttonColor = 'cyprus' %}
    {% endswitch %}
{% endif %}

{% set colors = {
    button : {
        white: "text-cyprus-500 bg-white hover:bg-neutral-200",
        black: "text-white bg-neutral-950 hover:bg-neutral-800",
        green: "text-white bg-green-500 hover:bg-green-600",
        cyprus: "text-white bg-cyprus-500 hover:bg-cyprus-600",
    },
    outline : {
        white: "text-white hover:text-neutral-950 border-white hover:bg-white",
        black: "text-neutral-950 hover:text-white border-neutral-950 hover:bg-neutral-950",
        green: "text-green-500 hover:text-white border-green-500 hover:bg-green-600",
        cyprus: "text-cyprus-500 hover:text-white border-cyprus-500 hover:bg-cyprus-600",
    },
    link : {
        white: "text-white hover:border-white",
        black: "text-neutral-950 hover:border-neutral-950",
        green: "text-green-500 hover:border-green-500",
        cyprus: "text-cyprus-500 hover:border-cyprus-500",
    }
} %}

{% set attributes = collect({
    href: button.getUrl(),
    class: [
        class,
        colors[buttonType][buttonColor] ?? null,
        extraClasses|length ? extraClasses : buttonType == 'link'
            ? "flex font-semibold border-b-2 border-transparent items-center inline-block leading-6 transition duration-300 #{button.classes}"
            : "inline-flex items-center rounded-full px-4 py-1.5 font-semibold transition duration-300 #{button.classes} " ~ (buttonType == 'outline' ? 'border'),
        icon|length and iconPosition == 'left' ? 'flex-row-reverse' : null,
        textSize|length ? textSize : 'text-xl',
    ]
}) %}

{% if not button.isEmpty() and button.getType() == 'asset' and (button.getElement().extension == 'pdf' or button.getElement().extension == 'doc') %}
    {% set attributes = attributes.merge({
        target: "_blank",
        rel: "noopener"
    }) %}
{% endif %}

{% if button.linkTitle %}
    {% set attributes = attributes.merge({
        title: button.linkTitle,
    }) %}
{% endif %}

{% if button.customAttributes %}
    {% for attribute in button.customAttributes %}
        {% set attributes = attributes.merge({
            (attribute.attribute): attribute.value
        }) %}
    {% endfor %}
{% endif %}

{% if button.target %}
    {% set attributes = attributes.merge({
        target: "_blank",
        rel: "noopener"
    }) %}
{% endif %}

{% if not button.isEmpty() %}
    <a {{ attr(attributes.toArray()) }}>
        <span class="flex-1 relative top-px {% if icon|length %} {{ iconPosition == 'left' ? 'pl-2' : 'pr-2' }} {% endif %}">
            {{ button.getText() }}
        </span>

        {% if icon|length %}
            {{ svg(icon.path)|attr({
                class: 'h-4 w-4'
            }) }}
        {% endif %}

        {% if button.getText()|lower in ["read more", "see more", "learn more", "click here"] %}
            <span class="sr-only"> {{ "about this"|t }}</span>
        {% endif %}
    </a>
{% endif %}