{% if (not buttonColor|length) or ((background) == buttonColor) %}
    {% set background = background|default("white") %}
    {% switch background %}
        {% case "white" %}
            {% set buttonColor = 'primary' %}

        {% default %}
            {% set buttonColor = 'primary' %}
    {% endswitch %}
{% endif %}

{% set colors = {
    button : {
        white: "text-cyprus-500 bg-white hover:bg-neutral-100",
        black: "text-neutral-500 bg-white hover:bg-cyprus-50",
        green: "text-white bg-green-500 hover:bg-green-600",
        cyprus: "text-white bg-cyprus-500 hover:bg-cyprus-600",
    },
    outline : {
        white: "text-cyprus-500 hover:text-cyprus-600 border-white hover:bg-white",
        black: "text-white-950 hover:text-white border-neutral-950 hover:bg-neutral-800",
        green: "text-white-500 hover:text-white border-green-500 hover:bg-green-600",
        cyprus: "text-white-500 hover:text-white border-cyprus-500 hover:bg-cyprus-600",
    },
    link : {
        white: "text-white hover:border-white",
        black: "text-neutral-950 hover:border-neutral-950",
        green: "text-green-500 hover:border-green-500",
        cyprus: "text-cyprus-500 hover:border-cyprus-500",
    }
} %}

{% set attributes = collect({
    href: button.getUrl(),
    class: [
        class,
        colors[buttonType][buttonColor] ?? null,
        extraClasses|length ? extraClasses : buttonType == 'link'
            ? "flex md:text-2xl text-lg font-bold border-b-2 border-transparent duration-300 items-center inline-block leading-6 transition-all #{button.classes}"
            : "inline-flex rounded-full text-xl px-4 py-1.5 font-semibold transition #{button.classes} " ~ (buttonType == 'outline' ? 'border'),
        icon|length and iconPosition == 'left' ? 'flex-row-reverse' : null
    ]
}) %}

{% if not button.isEmpty() and button.getType() == 'asset' and (button.getElement().extension == 'pdf' or button.getElement().extension == 'doc') %}
    {% set attributes = attributes.merge({
        target: "_blank",
        rel: "noopener"
    }) %}
{% endif %}

{% if button.linkTitle %}
    {% set attributes = attributes.merge({
        title: button.linkTitle,
    }) %}
{% endif %}

{% if button.customAttributes %}
    {% for attribute in button.customAttributes %}
        {% set attributes = attributes.merge({
            (attribute.attribute): attribute.value
        }) %}
    {% endfor %}
{% endif %}

{% if button.target %}
    {% set attributes = attributes.merge({
        target: "_blank",
        rel: "noopener"
    }) %}
{% endif %}

{% if not button.isEmpty() %}
    <a {{ attr(attributes.toArray()) }}>
        {% if icon|length %}
            <span class="{{ iconPosition == 'left' ? 'pl-2' : 'pr-2' }} flex-1">
        {% endif %}
            {{ button.getText() }}
        {% if icon|length %}
            </span>
        {% endif %}

        {% if icon|length %}
            {{ svg(icon.path)|attr({
                class: 'h-4 w-4'
            }) }}
        {% endif %}

        {% if button.getText()|lower in ["read more", "see more", "learn more", "click here"] %}
            <span class="sr-only"> {{ "about this"|t }}</span>
        {% endif %}
    </a>
{% endif %}