{#
===============================================================================
    Banner Card (bannerCard)

    Variables
        - Block (block)

    Fields:
        Content:
            Child:
              Card (card)
                - Heading (heading)
                - Text (text)

        Auxiliary:
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Sub Heading (subHeading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)

        Settings:
            - Content Width (contentWidth)
            - Background Color (backgroundColor)
            - Overlay Opacity (overlayOpacity)
            - Per Row Limit (perRowLimit)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set sectionTag = childContainer ? 'div' : 'section' %}
{# Parent Block Fields End #}

{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('medium') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set contentWidth = block.contentWidth|default('0;12') %}
{% set perRowLimit = block.perRowLimit.getValue()|default('4') %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'none') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set overlayOpacity = block.overlayOpacity.getValue()|default('none') %}
{% set bgOpacity = render.setOpacity({
    opacity: overlayOpacity,
    opacityType: 'bg'
}) %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.animationStyle.value|default('fade-up'),
    animationDuration: block.animationDuration.value|default(1500),
    animationOffset: block.animationOffset.value|default(200),
    animationEasing: block.animationEasing.value|default(null)
}) | raw %}

{% set rowLimit = {
    '1' : 'grid-cols-1',
    '2' : 'grid-cols-1 md:grid-cols-2',
    '3' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3',
    '4' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4',
    '5' : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-5'
} %}

{% set buttons = block.buttons.all() %}
{% set textCards = block.card.all() %}

<{{ sectionTag }} id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}" class="{{ containerBgExist ? backgroundColor }} {{ bgOpacity }} {{ childContainer ? 'relative z-20' }} {{ spacing.implode(' ') }}">
    <div class="{{ not childContainer ? 'container' }} {{ childContainer and containerBgExist ? 'px-4 md:px-6' }}">
        {% if block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length %}
        <div class="{{ render.contentWidth({width: contentWidth}) }}">
            {{ render.basicContents({
                eyebrow: block.eyebrow,
                heading: block.heading,
                subHeading: block.subHeading,
                text: block.text,
                headingTag: headingTag,
                fontWeight: fontWeight,
                backgroundColorLabel: backgroundColorLabel,
                opacity: overlayOpacity,
                contentAlignment: contentAlignment,
                animation: block.animation,
                contentAnimationStyle: block.animationStyle.getValue()|default('fade-up'),
                contentAnimationDuration: block.animationDuration.getValue()|default(1500),
                contentAnimationOffset: block.animationOffset.getValue()|default(200),
                contentAnimationEasing: block.animationEasing.getValue()|default(null)
            }) }}
        </div>
        {% endif %}

        {% if textCards|length %}
        <div class="{{ block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length ? 'mt-10' }}">
            <div class="grid gap-10 {{ rowLimit[perRowLimit] }}" {{ contentAnimation|raw }}>
                {% for card in textCards %}
                    <div class="flex flex-col-reverse justify-end pl-8 relative before:absolute after:absolute before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px {{ render.foregroundColors({
                        background: backgroundColorLabel,
                        opacity: overlayOpacity,
                        changeDefaultColor: true,
                        type: 'border'
                    }) }}">
                        {% if card.text|length %}
                        <div class="mt-2 space-y-2">
                            {{ render.replaceElements(card.text, {
                                background: backgroundColorLabel,
                                opacity: overlayOpacity,
                                changeDefaultColor: true,
                            }) }}
                        </div>
                        {% endif %}

                        {% if card.heading %}
                        <div class="font-display text-3xl font-semibold sm:text-4xl {{ render.foregroundColors({
                            background: backgroundColorLabel,
                            opacity: overlayOpacity,
                            changeDefaultColor: true,
                            type: 'heading'
                        }) }}">
                            {{ card.heading }}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% for button in buttons %}
        {% if loop.first %}
        <div class="flex flex-wrap items-center gap-5 mt-8 md:mt-10 {{ render.getAlignment({
            alignment: contentAlignment,
            type: 'justify'
        }) }}" {{ contentAnimation|raw }}>
        {% endif %}
            {{ render.createButton({
                button: button.button,
                buttonType: button.buttonType.getValue()|default("button"),
                buttonColor: button.buttonColor.label|default('cyprus'),
                icon: button.icon,
                iconPosition: button.iconPosition.getValue()|default('right'),
                background: backgroundColorLabel,
            }) }}
        {% if loop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</{{ sectionTag }}>