{#
===============================================================================
    Featured Banner (featuredBanner)

    Variables
        - Block (block)

    Fields:
        Content:
            - Image (image)
            - Video (backgroundVideo)
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)
            - Contact Info (contactInfo)
                - Heading (heading)
                - Contact Cards (contactCards)

        Settings:
            - Content Width (contentWidth)
            - Container Size (containerSize)
            - Rounded Corners (roundedCorners)
            - Background Color (backgroundColor)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set containerWrapper = containerWrapper ?? false %}
{% set containerImage = containerImage ?? false %}
{% set sectionTag = childContainer or containerWrapper ? 'div' : 'section' %}
{# Parent Block Fields End #}

{% set headingTag = block.headingSize.getValue()|default('h3') %}
{% set fontWeight = block.fontWeight.getValue()|default('medium') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set containerSize = block.containerSize.getValue()|default('full') %}
{% set contentWidth = block.contentWidth|default('0;12') %}
{% set roundedCorners = block.roundedCorners ?? false %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'white') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set image = block.image.one() %}
{% set videos = block.backgroundVideo ?? null %}
{% set buttons = block.buttons.all() %}

{% set contactInfo = block.contactInfo.type(null).all() %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.contentAnimationStyle.value|default('fade-up'),
    animationDuration: block.contentAnimationDuration.value|default(1500),
    animationOffset: block.contentAnimationOffset.value|default(200),
    animationEasing: block.contentAnimationEasing.value|default(null)
}) | raw %}

{% if containerSize == 'container' %}
    {% set spacing = render.spacing({
        type: 'marginPadding',
        marginTop: block.marginTop.getValue()|default(childContainer and loop.first ? 'none' : (childContainer ? 'small' : 'medium')),
        marginBottom: block.marginBottom.getValue()|default(childContainer and loop.last ? 'none' : (childContainer ? 'small' : 'medium')),
        paddingTop: block.paddingTop.getValue()|default(containerBgExist ? 'small' : 'none'),
        paddingBottom: block.paddingBottom.getValue()|default(containerBgExist ? 'small' : 'none'),
        currentBgColor: backgroundColorLabel
    }) %}
{% endif %}

<{{ sectionTag }} id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}" class="{{ containerSize == 'full' ? backgroundColor ~ spacing }} {{ containerSize == 'full' and roundedCorners ? 'rounded-4xl' }}">
    <div class="container">
        <div class="{{ containerSize == 'container' ? 'px-6 md:px-12 ' ~  backgroundColor ~ spacing }} {{ containerSize == 'container' and roundedCorners ? 'rounded-4xl' }}">
            <div class="{{ render.contentWidth({width: contentWidth}) }}">
                {% if block.eyebrow|length or block.heading|length or block.text|length %}
                {{ render.basicContents({
                    eyebrow: block.eyebrow,
                    heading: block.heading,
                    text: block.text,
                    headingTag: headingTag,
                    fontWeight: fontWeight,
                    backgroundColorLabel: backgroundColorLabel,
                    contentAlignment: contentAlignment,
                    animation: block.animation,
                    contentAnimationStyle: block.animationStyle.getValue()|default('fade-up'),
                    contentAnimationDuration: block.animationDuration.getValue()|default(1500),
                    contentAnimationOffset: block.animationOffset.getValue()|default(200),
                    contentAnimationEasing: block.animationEasing.getValue()|default(null)
                }) }}
                {% endif %}

                {% for button in buttons %}
                    {% if loop.first %}
                    <div class="flex flex-wrap items-center gap-5 mt-5 {{ render.getAlignment({
                        alignment: contentAlignment,
                        type: 'justify'
                    }) }}" {{ contentAnimation|raw }}>
                    {% endif %}
                        {{ render.createButton({
                            button: button.button,
                            buttonType: button.buttonType.getValue()|default("button"),
                            buttonColor: button.buttonColor.label|default('cyprus'),
                            icon: button.icon,
                            iconPosition: button.iconPosition.getValue()|default('right'),
                            background: backgroundColorLabel,
                            textSize: 'text-sm'
                        }) }}
                    {% if loop.last %}
                    </div>
                    {% endif %}
                {% endfor %}

                {% if contactInfo|length %}
                <div class="mt-10 border-t pt-10 {{ backgroundColorLabel == 'green' ? 'border-white' : 'border-green-500' }}">
                    {% for item in contactInfo %}
                        {% if item.heading|length %}
                        <h3 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                            {{ item.heading|nl2br }}
                        </h3>
                        {% endif %}

                        {% for block in item.contactCards.all() %}
                            {% include '_partials/pageBuilder/contactCards/' ~ block.type.handle ignore missing %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</{{ sectionTag }}>