{#
===============================================================================
    Featured Banner (featuredBanner)

    Variables
        - Block (block)

    Fields:
        Content:
            - Image (image)
            - Video (backgroundVideo)
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)
            - Contact Info (contactInfo)
                - Heading (heading)
                - Contact Cards (contactCards)

        Settings:
            - Content Width (contentWidth)
            - Container Size (containerSize)
            - Rounded Corners (roundedCorners)
            - Background Color (backgroundColor)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set containerWrapper = containerWrapper ?? false %}
{% set containerImage = containerImage ?? false %}
{% set sectionTag = childContainer or containerWrapper ? 'div' : 'section' %}
{# Parent Block Fields End #}

{% set containerSize = block.containerSize.getValue()|default('container') %}
{% set headingTag = block.headingSize.getValue()|default('h3') %}
{% set fontWeight = block.fontWeight.getValue()|default('medium') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set contentWidth = block.contentWidth|default('0;12') %}
{% set roundedCorners = block.roundedCorners ?? false %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'cyprus') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set buttons = block.buttons.all() %}
{% set image = block.image.one() %}
{% set videos = block.backgroundVideo ?? null %}

{% set contactInfo = block.contactInfo.type(null).all() %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.contentAnimationStyle.value|default('fade-up'),
    animationDuration: block.contentAnimationDuration.value|default(1500),
    animationOffset: block.contentAnimationOffset.value|default(200),
    animationEasing: block.contentAnimationEasing.value|default(null)
}) | raw %}

{% set basicContentsExist = block.eyebrow|length or block.heading|length or block.text|length or buttons|length %}

<{{ sectionTag }} id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}">
    <div class="mx-auto mt-24 sm:mt-32 lg:mt-40 {{ containerSize == 'container' ? 'container' }} {{ roundedCorners ? 'rounded-4xl' }} {{ backgroundColor }} {{ spacing }}">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="opacity-100 transform-none {{ render.contentWidth({width: contentWidth}) }}">
                <div class="{{ containerSize == 'container' ? 'mx-auto max-w-4xl' : 'container' }}">
                    {% if basicContentsExist %}
                    {{ render.basicContents({
                        eyebrow: block.eyebrow,
                        heading: block.heading,
                        text: block.text,
                        headingTag: headingTag,
                        fontWeight: fontWeight,
                        backgroundColorLabel: backgroundColorLabel,
                        contentAlignment: contentAlignment,
                        textSpacing: 'mt-6',
                        animation: block.animation,
                        contentAnimationStyle: block.animationStyle.getValue()|default('fade-up'),
                        contentAnimationDuration: block.animationDuration.getValue()|default(1500),
                        contentAnimationOffset: block.animationOffset.getValue()|default(200),
                        contentAnimationEasing: block.animationEasing.getValue()|default(null)
                    }) }}
                    {% endif %}

                    {% if buttons|length %}
                    <div class="mt-6 flex {{ render.getAlignment({alignment: contentAlignment, type: ['justify']}) }}">
                        {% for button in buttons %}
                        {{ render.createButton({
                            button: button.button,
                            buttonType: button.buttonType.getValue()|default("button"),
                            buttonColor: button.buttonColor.label|default('white'),
                            icon: button.icon,
                            iconPosition: button.iconPosition.getValue()|default('right'),
                            extraClasses: 'inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition'
                        }) }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if contactInfo|length %}
                        <div class="mt-10 border-t pt-10 {{ backgroundColorLabel == 'green' ? 'border-netural-700' : 'border-green-500' }}">
                            {% for item in contactInfo %}
                                {% if item.heading|length %}
                                <h3 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                    {{ item.heading|nl2br }}
                                </h3>
                                {% endif %}

                                {% for block in item.contactCards.all() %}
                                    {% include '_partials/pageBuilder/contactCards/' ~ block.type.handle ignore missing %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</{{ sectionTag }}>