{#
===============================================================================
    Form (form)

    Variables
        - Block (block)

    Fields:
        Content:
            - Form (form)

        Auxiliary:
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set sectionTag = childContainer ? 'div' : 'section' %}
{# Parent Block Fields End #}

{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('bold') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set contentWidth = block.contentWidth|default('2;10') %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'none') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set overlayOpacity = block.overlayOpacity.getValue()|default('none') %}
{% set bgOpacity = render.setOpacity({
    opacity: overlayOpacity,
    opacityType: 'bg'
}) %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.animationStyle2.getValue()|default('fade-up'),
    animationDuration: block.animationDuration2.getValue()|default(1500),
    animationOffset: block.animationOffset2.getValue()|default(200),
    animationEasing: block.animationEasing2.getValue()|default(null)
}) | raw %}

{% set formAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.animationStyle.getValue()|default('fade-up'),
    animationDuration: block.animationDuration.getValue()|default(1700),
    animationOffset: block.animationOffset.getValue()|default(400),
    animationEasing: block.animationEasing.getValue()|default(null)
}) | raw %}

{% set form = block.form.one() %}
{% set contactInfo = block.contactInfo.all() %}

<{{ sectionTag }} id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}" class="{{ containerBgExist ? backgroundColor ~ bgOpacity }} {{ spacing }} {{ childContainer ? 'relative z-20' }}">
    <div class="{{ not childContainer ? 'container' }} {{ childContainer and containerBgExist ? 'px-4 md:px-6' }}">
        {% if block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length %}
        {{ render.basicContents({
            eyebrow: block.eyebrow,
            heading: block.heading,
            subHeading: block.subHeading,
            text: block.text,
            headingTag: headingTag,
            fontWeight: fontWeight,
            backgroundColorLabel: backgroundColorLabel,
            animation: block.lightSwitch,
            contentAnimationStyle: block.animationStyle2.getValue()|default('fade-up'),
            contentAnimationDuration: block.animationDuration2.getValue()|default(1500),
            contentAnimationOffset: block.animationOffset2.getValue()|default(200),
            contentAnimationEasing: block.animationEasing2.getValue()|default(null)
        }) }}
        {% endif %}

        <div class="grid grid-cols-1 gap-x-8 gap-y-24 lg:grid-cols-2 {{ block.eyebrow|length or block.heading|length or block.text|length ? 'mt-10' }}">
            <div class="lg:order-last" >
                {% if block.formHeading|length %}
                <h2 class="font-display text-base font-semibold mb-6 {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                    {{ block.formHeading }}
                </h2>
                {% endif %}

                {% if form|length %}
                <div class="isolate -space-y-px rounded-2xl bg-white/50">
                    <div {{ formAnimation|raw }}>
                        {{ craft.formie.renderForm(form) }}

                        {% js %}
                            document.addEventListener('onFormieInit', (event) => {
                                let Formie = event.detail.formie;
                                Formie.refreshForCache('{{ form.formId }}');
                            });
                        {% endjs %}
                    </div>
                </div>
                {% endif %}
            </div>

            {% if block.sidebarHeading|length or block.text2|length or contactInfo|length %}
            <div {{ contentAnimation|raw }}>
                {% if block.sidebarHeading|length %}
                <h2 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                    {{ block.sidebarHeading }}
                </h2>
                {% endif %}

                {% if block.text2|length %}
                <div class="mt-6 space-y-2.5">
                    {{ render.replaceElements(block.text2, {
                        background: backgroundColorLabel,
                    }) }}
                </div>
                {% endif %}

                {% for item in contactInfo %}
                <div class="{{ loop.first ? 'mt-10' : 'mt-16 pt-16 relative before:absolute after:absolute before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px ' ~ render.foregroundColors({background: backgroundColorLabel, type: 'border'}) }}">
                    {% if item.heading|length %}
                    <h2 class="font-display text-base font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                        {{ item.heading|nl2br }}
                    </h2>
                    {% endif %}

                    <div class="grid grid-cols-1 gap-8 text-sm {{ item.contactCards|length > 1 ? 'sm:grid-cols-2' }} {{ item.heading|length ? 'mt-6' }}">
                        {% for block in item.contactCards.all() %}
                            {% include "_partials/pageBuilder/contactCards/#{block.type.handle}" %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</{{ sectionTag }}>