{#
===============================================================================
    Image (image)

    Variables
        - Block (block)

    Fields:
        Content:
            - Image (image)
            - Video (backgroundVideo)

        Auxiliary:
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Sub Heading (subHeading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)

        Settings:
            - Content Width (contentWidth)
            - Container Size (containerSize)
            - Background Color (backgroundColor)
            - Image Ratio (imageRatio)
            - Content Alignment (contentAlignment)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
            - section Id (sectionId)
===============================================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set containerWrapper = containerWrapper ?? false %}
{% set containerImage = containerImage ?? false %}
{% set sectionTag = childContainer or containerWrapper ? 'div' : 'section' %}
{# Parent Block Fields End #}


{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('medium') %}
{% set contentAlignment = block.contentAlignment.value|default('center') %}
{% set containerSize = block.containerSize.getValue()|default('container') %}
{% set contentWidth = block.contentWidth|default('0;12') %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'white') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set imageRatio = block.imageRatio.getValue()|default('16_9') %}
{% set ratio = {
    'auto'    : 'aspect-auto',
    '1_1'     : 'aspect-w-1 aspect-h-1',
    '16_9'    : 'aspect-w-16 aspect-h-9',
    '4_3'     : 'aspect-w-4 aspect-h-3',
    '3_4'     : 'aspect-w-3 aspect-h-4',
    '7_2'     : 'aspect-w-7 aspect-h-2'
} %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.animationStyle.value|default('fade-up'),
    animationDuration: block.animationDuration.value|default(1500),
    animationOffset: block.animationOffset.value|default(200),
    animationEasing: block.animationEasing.value|default(null)
}) | raw %}

{% set image = block.image.one() %}
{% set videos = block.video ?? null %}
{% set videoImage = videos.media.image ?? null %}
{% set finalImage = image|length ? image : videoImage %}
{% set videoId = 'image-video-'|t ~ block.getId() %}
{% set buttons = block.buttons.all() %}

<{{ sectionTag }} id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}" class="{{ backgroundColor }} {{ spacing }}">
    <div class="{{ containerSize == 'container' ? 'container' }}">
        <div class="{{ render.contentWidth({width: contentWidth}) }}">
            {% if block.eyebrow|length or block.heading|length or block.subHeading|length or block.text|length %}
            {{ render.basicContents({
                eyebrow: block.eyebrow,
                heading: block.heading,
                subHeading: block.subHeading,
                text: block.text,
                headingTag: headingTag,
                fontWeight: fontWeight,
                backgroundColorLabel: backgroundColorLabel,
                contentAlignment: contentAlignment,
                animation: block.animation,
                contentAnimationStyle: block.animationStyle.getValue()|default('fade-up'),
                contentAnimationDuration: block.animationDuration.getValue()|default(1500),
                contentAnimationOffset: block.animationOffset.getValue()|default(200),
                contentAnimationEasing: block.animationEasing.getValue()|default(null)
            }) }}
            {% endif %}

            {% if image|length or videos.media|length %}
            <div class="{{ block.eyebrow|length or block.heading|length or block.text|length ? 'mt-10' }}">
                <div class="relative {{ ratio[imageRatio] }}" {{ contentAnimation|raw }}>
                    <div>
                        {{ render.renderVideo({
                            image: finalImage|length ? finalImage,
                            alt: image|length ? image.title : videoId,
                            width: image|length ? image.width,
                            height: image|length ? image.height,
                            class: 'object-cover w-full h-full',
                            lazy: false,
                            plainImage: image|length ? false : true,
                            videos: videos,
                            videoClass: 'object-cover w-full h-full z-10',
                            videoType: 'popup',
                            videoId: videoId
                        }) }}
                    </div>
                </div>
            </div>
            {% endif %}

            {% for button in buttons %}
            {% if loop.first %}
            <div class="flex flex-wrap items-center gap-5 mt-8 md:mt-10 {{ containerSize == 'full' ? 'container' }} {{ render.getAlignment({
                alignment: contentAlignment,
                type: 'justify'
            }) }}" {{ contentAnimation|raw }}>
            {% endif %}
                {{ render.createButton({
                    button: button.button,
                    buttonType: button.buttonType.getValue()|default("button"),
                    buttonColor: button.buttonColor.label|default('cyprus'),
                    icon: button.icon,
                    iconPosition: button.iconPosition.getValue()|default('right'),
                    background: backgroundColorLabel,
                }) }}
            {% if loop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</{{ sectionTag }}>