{#
===============================================================================
    Text Cards (textCards)

    Variables
        - Block (block)

    Fields:
        Content:
                - Heading (heading)
                - Simple Text (simpleText)
        Auxiliary:
            - Eyebrow (eyebrow)
            - Heading (heading)
            - Text (text)
            - Buttons (buttons) [Matrix]
                - Button Type (buttonType)
                - Button Color (buttonColor)
                - Icon (icon)
                - Icon Position (iconPosition)
                - Button (button)

        Settings:
            - Content Width (contentWidth)
            - background Color (backgroundColor)
            - content Alignment (contentAlignment)
            - Per Row Limit (perRowLimit)
            - Listing Style (listingStyle)
            - Heading Size (headingSize)
            - font Weight (fontWeight)
            - Section Id (sectionId)
===============================================================================
#}
{# {% set childrens = block.children.all() %}
<section>
<div class="mt-24 rounded-4xl bg-cyprus-500 py-24 sm:mt-32 lg:mt-40 lg:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="max-w-2xl" style="opacity: 1; transform: none;">
            <h2>
                <span class="mb-6 block font-display text-base font-semibold text-white">Our culture</span>
                <span class="sr-only"> - </span>
                <span class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-white">Balance your passion with your passion for life.</span>
            </h2>
            <div class="mt-6 text-xl text-neutral-300">
                <p>We are a group of like-minded people who share the same core values.</p>
            </div>
        </div>
    </div>
</div>
{% if childrens %}
{% include "_partials/pageBuilder/textCards/#{textCards}" %}
{% endif %}
 #}

{# <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-16">
    <div class="mx-auto max-w-2xl lg:max-w-none">
        <di>
            <ul role="list" class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                    <div style="opacity: 1; transform: none;">
                        <div class="pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <strong class="font-semibold text-white">Loyalty.</strong>Our team has been with us since the beginning because none of them are allowed to have LinkedIn profiles.
                        </div>
                    </div>
                </li>
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                    <div style="opacity: 1; transform: none;">
                        <div class="pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <strong class="font-semibold text-white">Trust.</strong>We don’t care when our team works just as long as they are working every waking second.
                        </div>
                    </div>
                </li>
                <li class="text-base text-neutral-300 before:bg-white after:bg-white/10">
                    <div style="opacity: 1; transform: none;">
                        <div class="pl-8 relative before:absolute after:absolute before:bg-green-500 after:bg-white/10 before:left-0 before:top-0 before:h-6 before:w-px after:bottom-0 after:left-0 after:top-8 after:w-px">
                            <strong class="font-semibold text-white">Compassion.</strong>You never know what someone is going through at home and we make sure to never find out.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> #}
{# </section> #}

{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{# Parent Block Fields Start #}
{% set parent = parent ?? null %}
{% set childContainer = childContainer ?? false %}
{% set sectionTag = childContainer ? 'div' : 'section' %}
{# Parent Block Fields End #}

{% set headingColor = block.headingColor.label|default('white') %}
{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('bold') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set contentWidth = block.contentWidth|default('0;12') %}
{% set perRowLimit = block.perRowLimit.getValue()|default(parent == 'twoColumns' ? '2' : '3') %}
{% set listingStyle = block.listingStyle.value|default('cards') %}

{% set conbackgroundColor = conbackgroundColor ?? null %}
{% set backgroundColorLabel = block.backgroundColor.label|default(conbackgroundColor ?? 'white') %}
{% set containerBgExist = conbackgroundColor != backgroundColorLabel %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set overlayOpacity = block.overlayOpacity.getValue()|default('none') %}
{% set bgOpacity = render.setOpacity({
    opacity: overlayOpacity,
    opacityType: 'bg'
}) %}

{% set buttons = block.buttons.all() %}

{% set rowLimit = {
    '2' : 'grid-cols-1 sm:grid-cols-2',
    '3' : 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3',
    '4' : 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-4',
} %}

{% set contentAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.contentAnimationStyle.value|default('fade-up'),
    animationDuration: block.contentAnimationDuration.value|default(1500),
    animationOffset: block.contentAnimationOffset.value|default(200),
    animationEasing: block.contentAnimationEasing.value|default(null)
}) | raw %}

{% set cardAnimation = render.setAnimation({
    animation: block.animation,
    animationStyle: block.animationStyle.value|default('fade-up'),
    animationDuration: block.animationDuration.value|default(1500),
    animationOffset: block.animationOffset.value|default(200),
    animationEasing: block.animationEasing.value|default(null)
}) | raw %}

<{{ sectionTag }} class="{{ spacing }} {{ backgroundColor }} {{ bgOpacity }} {{ render.contentWidth({width: contentWidth}) }}">
    <div class="rounded-4xl {{ render.contentWidth({width: contentWidth}) }}">
    {% if block.eyebrow|length or block.heading|length or block.text or buttons|length %}
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            {{ render.basicContents({
                eyebrow: block.eyebrow,
                heading: block.heading,
                subHeading: block.subHeading,
                text: block.text,
                buttons: buttons,
                headingTag: headingTag,
                fontWeight: fontWeight,
                backgroundColorLabel: backgroundColorLabel,
                bgOpacity: overlayOpacity,
                contentAlignment: contentAlignment,
                animation: block.animation,
                contentAnimationStyle: block.contentAnimationStyle.getValue()|default('fade-up'),
                contentAnimationDuration: block.contentAnimationDuration.getValue()|default(1500),
                contentAnimationOffset: block.contentAnimationOffset.getValue()|default(200),
                contentAnimationEasing: block.contentAnimationEasing.getValue()|default(null)
            }) }}
        </div>
    {% endif %}
        {% include "_partials/pageBuilder/textCards/#{listingStyle}" %}
    </div>
</{{ sectionTag }}>