{#
=========================================================
    Two Columns (twoColumns)

    Variables
        - Block (block)

    Fields:
        Content:
            Child:
              Columns (columns)
                - Banner Card (bannerCard)
                - Image (image)
                - Gallery (gallery)
                - Form (form)

        Settings:
            - Content Width (contentWidth)
            - Background Color (backgroundColor)
            - Overlay Opacity (overlayOpacity)
            - Column Alignment (columnAlignment)
            - Two Column Layout (twoColumnLayout)
            - Heading Size (headingSize)
            - Font Weight (fontWeight)
=========================================================
#}
{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set contentWidth = block.contentWidth|default('2;10') %}
{% set headingTag = block.headingSize.getValue()|default('h2') %}
{% set fontWeight = block.fontWeight.getValue()|default('medium') %}
{% set contentAlignment = block.contentAlignment.value|default('left') %}
{% set columnAlignment = block.columnAlignment.getValue|default('start') %}
{% set columnsWidth = block.twoColumnLayout.getValue|default('6-6') %}

{% set backgroundColorLabel = block.backgroundColor.label|default('white') %}
{% set backgroundColor = render.color({
    handle: backgroundColorLabel,
    swatch: 'background'
}) %}

{% set firstDiv = {
    '3-9' : 'md:col-start-1 md:col-end-4',
    '4-8' : 'md:col-start-1 md:col-end-5',
    '5-7' : 'md:col-start-1 md:col-end-6',
    '6-6' : 'md:col-start-1 md:col-end-7',
    '7-5' : 'md:col-start-1 md:col-end-8',
    '8-4' : 'md:col-start-1 md:col-end-9',
    '9-3' : 'md:col-start-1 md:col-end-10'
} %}

{% set lastDiv = {
    '3-9' : 'md:col-start-4 md:col-end-13',
    '4-8' : 'md:col-start-5 md:col-end-13',
    '5-7' : 'md:col-start-6 md:col-end-13',
    '6-6' : 'md:col-start-7 md:col-end-13',
    '7-5' : 'md:col-start-8 md:col-end-13',
    '8-4' : 'md:col-start-9 md:col-end-13',
    '9-3' : 'md:col-start-10 md:col-end-13'
} %}

{% set columns = block.column.all() %}
{% set buttons = block.buttons.all() %}

<section id="{{ block.sectionId|length ? block.sectionId : 'block-' ~ block.getId() }}" class="{{ backgroundColor }} {{ spacing }}">
    <div class="container">
        {% if block.eyebrow|length or block.heading|length or block.text|length %}
            <div class="{{ render.contentWidth({width: contentWidth}) }}">
                {{ render.basicContents({
                    eyebrow: block.eyebrow,
                    heading: block.heading,
                    text: block.text,
                    headingTag: headingTag,
                    fontWeight: fontWeight,
                    backgroundColorLabel: backgroundColorLabel,
                    contentAlignment: contentAlignment,
                }) }}
            </div>
        {% endif %}

        {% if columns|length %}
            <div class="grid grid-cols-1 md:grid-cols-12 mt-10 {{ render.getAlignment({alignment: columnAlignment, type: 'items'}) }}">
                {% for child in columns %}
                    <div class="{{ loop.first ? firstDiv[columnsWidth] : lastDiv[columnsWidth] }}">
                        {% include "_partials/blocks" with {
                            pageBuilder: [child],
                            parent: block.type.handle,
                            conbackgroundColor: backgroundColorLabel,
                            childContainer: true,
                            firstBlockSpacing: {
                                'defaultMarginTop' : 'none',
                            },
                            lastBlockSpacing: {
                                'defaultMarginBottom' : 'none',
                            },
                        } %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% for button in buttons %}
            {% if loop.first %}
            <div class="flex flex-wrap items-center gap-5 mt-8 md:mt-10 {{ render.getAlignment({
                alignment: contentAlignment,
                type: 'justify'
            }) }}"
            >
            {% endif %}
                {{ render.createButton({
                    button: button.button,
                    buttonType: button.buttonType.getValue()|default("button"),
                    buttonColor: button.buttonColor.label|default('cyprus'),
                    icon: button.icon,
                    iconPosition: button.iconPosition.getValue()|default('right'),
                    background: backgroundColorLabel,
                }) }}
            {% if loop.last %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>