{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

{% set paramBlockId = craft.app.request.getParam("blockId") %}
{% set blockId = paramBlockId|default(parent.getId()) %}

{% set pagination = block.pagination %}
{% set limit = block.limit|default('12') %}

{% set relatedBlog = block.relatedBlog.limit(limit) %}
{% if not relatedBlog|length %}
    {% set relatedBlog = craft.entries.section("blog").limit(limit) %}
{% endif %}

{% if pagination %}
    {% paginate relatedBlog as pageInfo, entries %}
{% else %}
    {% set entries = relatedBlog.all() %}
{% endif %}

{% set contentId = 'blog' ~ parent.getId() %}
{% set paginationBtnClass = 'load-more-btn-' ~ parent.getId() %}

{% if not isAjax %}
<div class="{{ parent.eyebrow|length or parent.heading|length or parent.text|length ? 'mt-16' }}"
    {% if pagination %}
    {{ render.xModalContentListingFilter({
        url: url(craft.app.request.fullPath),
        contentId: contentId,
        loader: true,
        samePageLoadData: true,
        noResultsText: "Sorry. No data found for your search term.",
        paginationBtnClass: paginationBtnClass,
        filters: {
            blockId: blockId
        },
    }) }}
    {% endif %}
>
    <div {% if pagination %}:id="contentId"{% endif %} class="mx-auto max-w-2xl lg:max-w-none">
{% endif %}
        {% for blog in entries %}
            {% set relatedTeamMember = blog.relatedTeamMember.all() %}

            <div {{ listingAnimation|raw }}>
                <div class="pt-16 mt-32 relative before:absolute after:absolute before:left-0 before:top-0 before:h-px before:w-6 after:left-8 after:right-0 after:top-0 after:h-px {{ backgroundColorLabel == 'green' ? 'before:bg-neutral-300' : 'before:bg-green-500' }} {{ backgroundColorLabel == 'black' or backgroundColorLabel == 'cyprus' ? 'after:bg-white/10' : 'after:bg-neutral-950/10' }}">
                    <div class="relative lg:-mx-4 lg:flex lg:justify-end">
                        <div class="pt-10 lg:w-2/3 lg:flex-none lg:px-4 lg:pt-0">
                            <h2 class="font-display text-2xl font-semibold {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                <a href="{{ blog.getUrl }}">
                                    {{ blog.title }}
                                </a>
                            </h2>

                            {% for item in relatedTeamMember %}
                                {% set image = item.image.one() %}
                                <div class="lg:absolute lg:left-0 lg:top-0 lg:w-1/3 lg:px-4">
                                    <div class="absolute left-0 top-0 text-sm lg:static {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                        <time>
                                            {{ item.postDate|date('F Y') }}
                                        </time>
                                    </div>

                                    {% if image|length or item.title|length or item.designation|length %}
                                    <div class="mt-6 flex gap-x-4">
                                        {% if image|length %}
                                        <div class="flex-none overflow-hidden rounded-xl bg-neutral-100">
                                            {{ render.setImage({
                                                image: image,
                                                alt: image.title,
                                                width: image.width,
                                                height: image.height,
                                                class: 'text-transparent h-12 w-12 object-cover grayscale'
                                            }) }}
                                        </div>
                                        {% endif %}

                                        {% if item.title|length or item.designation|length %}
                                        <div class="text-sm {{ render.foregroundColors({background: backgroundColorLabel, type: 'heading'}) }}">
                                            {% if item.title|length %}
                                            <div class="font-semibold">
                                                {{ item.title }}
                                            </div>
                                            {% endif %}

                                            {% if item.designation|length %}
                                            <div>
                                                {{ item.designation }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            {% if blog.text %}
                                {{ render.replaceElements(blog.text, {
                                    background: backgroundColorLabel,
                                    paragraphFontSize: 'mt-6 max-w-2xl text-base'
                                }) }}
                            {% endif %}

                            <a href="{{ blog.getUrl }}" class="mt-8 inline-flex rounded-full px-4 py-1.5 text-sm font-semibold transition {{ backgroundColorLabel == 'cyprus' ? 'bg-white text-cyprus-500' : 'bg-cyprus-500 text-white' }} {{ backgroundColorLabel == 'green' ? 'hover:bg-gray-500' : 'hover:bg-green-500' }}">
                                <span class="relative top-px">
                                    Read more
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if pagination %}
        <div class="fixed top-0 bottom-0 left-0 right-0 backdrop-opacity-10 backdrop-invert bg-black/40 z-50" x-show="isLoading">
            <div class="h-full w-full flex justify-center items-center">
                <div class="inline-block relative">
                    {% set headerLogo = header.logo.one() %}
                    {% if headerLogo|length %}
                    {{ render.setImage({
                        image: headerLogo,
                        alt: headerLogo.title,
                        class: 'block max-w-full text-white w-80 mb-3'
                    }) }}
                    {% endif %}

                    <div class="relative w-full block left-28">
                        <span class="bg-white block w-4 h-4 rounded-full absolute left-0 animate-reveal"></span>
                        <span class="bg-white block w-4 h-4 rounded-full absolute left-0 animate-slide"></span>
                        <span class="bg-white block w-4 h-4 rounded-full absolute left-[30px] animate-slide"></span>
                        <span class="bg-white block w-4 h-4 rounded-full absolute left-[60px] animate-reveal-reverse"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if pagination and pageInfo.nextUrl and pageInfo.totalPages > 1 %}
        {% set nextPageUrl = pageInfo.currentPage == 1 and (not paramBlockId|length) ? pageInfo.nextUrl ~ '?blockId=' ~ blockId : pageInfo.nextUrl %}
        {#
        ============================================
            Include Pagination
        ============================================
        #}
        {% include "_/includes/pagination" with {
            nextPageUrl: nextPageUrl,
            paginationBtnClass: paginationBtnClass,
            blockId: blockId
        } %}
        {% endif %}
{% if not isAjax %}
    </div>
</div>
{% endif %}